.slider .indicators .indicator-item.active{
    background-color: #ee6e73;
}
.move{
    margin-top: 10px;
    margin-bottom: 20px;
}
.parallax-container{
    min-height: 280px;
    height: auto;
}
.icon-laptop{
    color: #ee6e73;
}
.footer-one{
    background-color: #ee6e73;
}
.footer-two{
    background-color: rgb(148, 71, 74);
}